@import 'tailwindcss';

@theme {
  --color-primary: #3B577E;
  --color-general: #FEFDFD;
  --color-disabled: #B2B2B2;
  --color-secondary: #716040;
  --color-white: #FFFFFF;
  --color-card: #EADDCF;
  --color-general-light: #7D848D
}
